.App {
  text-align: center;
  margin: 20px 20px;
  padding: 20px;
  font-size: 22px;
  color: brown;
  background-color: burlywood;
  
}
/* Loggin.css */
.userName {
  float: right;
  margin-right: 140px;
}
.user{
  text-decoration: underline;
  color: darkred;
  font-weight: bold;

}
input {
  margin-left: 10px;
}
button {
  font-size: 22px;
  color: brown;
  background-color: burlywood;
  margin-top: 20px;

}
.error{
  color: red;
  background-color: aliceblue;
  font-size: 30px;
  display: none;
}