.App {
  text-align: center;
  margin: 20px 20px;
  padding: 20px;
  font-size: 22px;
  color: brown;
  background-color: burlywood;
  
}
/* Loggin.css */
.userName {
  float: right;
  margin-right: 140px;
}
.user{
  text-decoration: underline;
  color: darkred;
  font-weight: bold;
}

form{
  margin-top: 50px;
}
input {
  margin-left: 10px;
}
button {
  font-size: 22px;
  color: brown;
  background-color: burlywood;
  margin-top: 20px;

}
.error{
  color: red;
  background-color: aliceblue;
  font-size: 30px;
  /* display: none; */
}

/* MainSection */

.mainSection{
  min-height: 500px;
  padding-top: 50px;
}
.mainSection button {
  margin: 20px;
}

/* callender */
.calender{
  width: 80%;
  text-align: center
}